html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;

    .todo-app {
        width: 100%;
        max-width: 540px;
        background: #fff;
        margin: 100px auto 20px;
        padding: 40px 30px 70px;
        border-radius: 10px;

        h2 {
            color: #002765;
            display: flex;
            align-items: center;
            // justify-content: space-between;
            margin-bottom: 20px;

            img {
                width: 30px;
                margin-left: 10px;
            }
        }

        //////////////////////////////////////////
        //////////////////////////////////////////
        //////////////////////////////////////////
        // ROW SECTION
        .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #edeef0;
            border-radius: 30px;
            padding-left: 20px;
            margin-bottom: 25px;

            input {
                flex: 1;
                border: none;
                outline: none;
                background: transparent;
                padding: 10px;
            }

            button {
                outline: none;
                border: none;
                padding: 16px 50px;
                background: #ff5945;
                color: #fff;
                font-size: 16px;
                border-radius: 40px;
                cursor: pointer;
            }
        }

        //////////////////////////////////////////
        //////////////////////////////////////////
        //////////////////////////////////////////
        // UL SECTION
        ul {
            li {
                list-style-type: none;
                font-size: 17px;
                padding: 12px 0;
                user-select: none;
                cursor: pointer;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    height: 28px;
                    width: 28px;
                    border-radius: 50%;
                    background-image: url('/app/images/unchecked.png');
                    background-size: cover;
                    background-position: center;
                    top: 8px;
                    left: -40px;
                }

            }

            .checked {
                color: #555;
                text-decoration: line-through;

                &::before {
                    background-image: url('/app/images/checked.png');
                }
            }
        }
    }
}