:root {
    --first-color: #1E1E1E;
    --second-color: #282828;
    --third-color: #333333;
    --fourth-color: #444444;

    --priority-1: #ff0000b0;
    --priority-2: #ff9100b0;
    --priority-3: #0073ffb0;
    --priority-4: #4e710c;

    --main-first: #ff5f57;
    --main-second: #FEBC2E;
    --main-third: #28C840;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

/* CONTAINER */
.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, var(--first-color), var(--priority-3));
    display: flex;
    align-items: center;
    justify-content: center;
}

/* APPLICATION */
.application {
    background-color: var(--first-color);
    width: 40rem;
    height: 50rem;
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: 3px 4px 21px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 4px 21px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 4px 21px 4px rgba(0, 0, 0, 0.5);
}

/* NAVIGATION */
.navigation {
    width: 100%;
    height: 2.5rem;
    background-color: var(--third-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* NAVIGATION LEFT */
.navigation__left {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.red-circle {
    cursor: pointer;
    margin-left: 1rem;
    content: "";
    width: 13px;
    height: 13px;
    background-color: var(--main-first);
    border-radius: 50%;
}

.orange-circle {
    cursor: pointer;
    content: "";
    width: 13px;
    height: 13px;
    background-color: var(--main-second);
    border-radius: 50%;
}

.green-circle {
    cursor: pointer;
    content: "";
    width: 13px;
    height: 13px;
    background-color: var(--main-third);
    border-radius: 50%;
}

img {
    cursor: pointer;
}

.input-with-icon {
    border: transparent;
    border-radius: 6px;
    background-image: url('app/utilities/svg/search.svg');
    background-repeat: no-repeat;
    background-color: var(--fourth-color);
    padding: 6px;
    padding-left: 30px;
}



/* NAVIGATION RIGHT */