@use "../abstracts/" as *;

.btn {
    font-size: rem(18);
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.nav__btn {
    background-color: var(--main-third-clr);
    padding: 0.2rem;

    &:hover {
        background-color: var(--main-fourth-clr);
    }
}

.main__btn {
    background-color: $main-first;
    padding: 0.2rem;
    margin-left: 0.3rem;
    min-width: 27px;

    &:hover {
        background-color: $main-second;
    }
}

.main__btn-delete {
    background-color: $main-second;
    padding: 0.5rem 0.7rem;
    color: var(--main-white-clr);

    &:hover {
        background-color: var(--main-third-clr);
    }
}
