@use "../abstracts/" as *;

.btn {
    border: none;
    // border-radius: $border-radius;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.nav__btn {
    background-color: var(--dark-clr-3);
    padding: 0.2rem;

    &:hover {
        background-color: var(--dark-clr-4);
    }
}

.main__btn {
    background-color: var(--dark-clr-1);
    padding: 0.2rem;
    margin-left: 0.3rem;
    min-width: 27px;

    &:hover {
        background-color: var(--dark-clr-2);
    }
}

.main__btn-delete {
    background-color: var(--dark-clr-2);
    padding: 0.5rem 0.7rem;
    color: var(--general-white);

    &:hover {
        background-color: var(--dark-clr-3);
    }
}
