@use "../abstracts" as *;

::-webkit-scrollbar {
    background-color: var(--dark-clr-2);
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-clr-2);
}

::-webkit-scrollbar-track {
    background-color: var(--dark-clr-2);
}
