@use '../abstracts' as *;

::-webkit-scrollbar {
    background-color: $main-first-clr;
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: $main-first-clr;
}

::-webkit-scrollbar-track {
    background-color: $main-first-clr;
}