.nav {
    height: 2.5rem;
    width: 100%;
    background-color: var(--third-color);
    display: flex;
    justify-content: space-between;
}

/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* NAV LEFT */
.nav__left {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* NAV SEARCH */
.nav__search-wrap {
    display: flex;
    align-items: center;
    position: relative;
}

.nav__input {
    background-color: var(--fourth-color);
    padding: 0.35rem;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    width: 10rem;
}

.nav__input:focus {
    color: #fff;
}

.nav__input::placeholder {
    color: #a6a6a6;
    font-weight: 100;
}

.search {
    background-color: var(--fourth-color);
    position: absolute;
    right: 0px;
}

/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* NAVIGATION RIGHT */
.navigation__right {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
    padding: 0 0.8rem;
}

#user-icon {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}