:root {
    --first-color: #1E1E1E;
    --second-color: #282828;
    --third-color: #333333;
    --fourth-color: #444444;
    --fifth-color: #363636;

    --icons: #c2c2c2;

    --priority-1: #ff0000b0;
    --priority-2: #ff9100b0;
    --priority-3: #0073ffb0;
    --priority-4: #4e710c;

    --main-first: #ff5f57;
    --main-second: #FEBC2E;
    --main-third: #28C840;

    --tasks-blue: #2a7eff;
    --tasks-green: #1C8C3A;
    --tasks-purple: #A970FF;
}

/* APPLICATION */
.main-container {
    width: 45rem;
    height: 50rem;
    /* overflow: hidden; */
    background-color: var(--first-color);

    border-radius: 1rem;
    border: 0.5px solid black;
    outline: 0.2px solid #ffffff36;

    box-shadow: 3px 4px 21px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 4px 21px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 4px 21px 4px rgba(0, 0, 0, 0.5);
}

.second-container {
    display: flex;
    width: 100%;
    height: calc(100% - 2.5rem);
}