:root {
    --first-color: #1E1E1E;
    --second-color: #282828;
    --third-color: #333333;
    --fourth-color: #444444;
    --fifth-color: #363636;

    --icons: #c2c2c2;

    --priority-1: #ff0000b0;
    --priority-2: #ff9100b0;
    --priority-3: #0073ffb0;
    --priority-4: #4e710c;

    --main-first: #ff5f57;
    --main-second: #FEBC2E;
    --main-third: #28C840;

    --tasks-blue: #2a7eff;
    --tasks-green: #1C8C3A;
    --tasks-purple: #A970FF;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    /* outline: 0.5px solid limegreen !important; */
    /* background: rgb(0, 100, 0 / 0.05) !important; */
}


body {
    /* Center the application */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center the application */

    color: #fff;
    font-size: 1rem;
    min-height: 100dvh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg, var(--first-color), var(--priority-2));
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 1.00rem;
}

h5 {
    font-size: 0.83rem;
}

h6 {
    font-size: 0.67rem;
}

h1 {
    margin: 0.67em 0;
}

a {
    text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

.circle-red {
    cursor: pointer;
    margin-left: 0.8rem;
    content: "";
    width: 13px;
    height: 13px;
    background-color: var(--main-first);
    border-radius: 50%;
}

.circle-orange {
    cursor: pointer;
    content: "";
    width: 13px;
    height: 13px;
    background-color: var(--main-second);
    border-radius: 50%;
}

.circle-green {
    cursor: pointer;
    content: "";
    width: 13px;
    height: 13px;
    background-color: var(--main-third);
    border-radius: 50%;
}

/* BUTTONS */
.btn-nav {
    color: #fff;
    background-color: var(--third-color);
    border: none;
    padding: 0.2rem;
    border-radius: 0.2rem;
}

.btn-nav:hover {
    background-color: var(--second-color);
}

/* APPLICATION */
.main-container {
    width: 45rem;
    height: 50rem;
    overflow: hidden;
    background-color: var(--first-color);

    border-radius: 1rem;
    border: 0.5px solid black;
    outline: 0.2px solid #ffffff36;

    box-shadow: 3px 4px 21px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 4px 21px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 4px 21px 4px rgba(0, 0, 0, 0.5);
}

.second-container {
    display: flex;
    width: 100%;
    height: calc(100% - 2.5rem);
}