:root {
    --first-color: #1E1E1E;
    --second-color: #282828;
    --third-color: #333333;
    --fourth-color: #444444;
    --fifth-color: #363636;

    --border-radius: 0.2rem;


}

/* =========================== */
/* =========================== */
/* =========================== */
/* || Reset */
html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    /* outline: 0.5px solid limegreen !important; */
}

body {
    background: linear-gradient(45deg, var(--first-color), #007aaeb0);
    color: #fff;
    min-height: 100dvh;

    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;

    display: flex;
    justify-content: center;
    align-items: center;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

button,
input {
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

/* =========================== */
/* || Inputs */
.input {
    color: white;
    background-color: var(--third-color);
    box-sizing: border-box;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    padding: 0.2rem 0.4rem 0.2rem 1.6rem;
    height: 1.7rem;
}

.input-icon {
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
}

/* =========================== */
/* =========================== */
/* =========================== */
/* || Blocks */
.main {
    width: 45rem;
    height: 50rem;
    overflow: hidden;
    background-color: var(--first-color);

    border-radius: 1rem;
    border: 0.5px solid black;
    outline: 0.2px solid #ffffff36;

    box-shadow: 3px 4px 21px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 4px 21px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 4px 21px 4px rgba(0, 0, 0, 0.5);
}

.nav {
    height: 2.5rem;
    width: 100%;
    background-color: var(--third-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem;
}

.container {
    display: flex;
    height: calc(100% - 2.5rem);
}

/* =========================== */
/* =========================== */
/* =========================== */
/* || Elements */

/* =========================== */
/* =========================== */
/* || nav__left */
.nav__left {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.nav__circles {
    display: flex;
    gap: 0.5rem;
}

.nav__circleRed {
    cursor: pointer;
    content: "";
    width: 13px;
    height: 13px;
    background-color: #FF5F57;
    border-radius: 50%;
}

.nav__circleOrange {
    cursor: pointer;
    content: "";
    width: 13px;
    height: 13px;
    background-color: #FEBC2E;
    border-radius: 50%;
}

.nav__circleGreen {
    cursor: pointer;
    content: "";
    width: 13px;
    height: 13px;
    background-color: #28C840;
    border-radius: 50%;
}

/* nav__search */
.nav__search {
    position: relative;
}

.nav__input {
    background-color: var(--fourth-color);
}

/* nav__right */
.nav__right {
    display: flex;
    gap: 0.2rem;
}

.user>img {
    width: 20px;
    border-radius: 50%;
}

/* btn__nav */
.btn__nav {
    background-color: var(--third-color);
    border: none;
    border-radius: var(--border-radius);
    padding: 0.2rem;
    transition: all 200ms ease-in-out;
}

.btn__nav:hover {
    background-color: var(--fourth-color);
}

/* =========================== */
/* =========================== */
/* || sidebar */
.sidebar {
    width: calc(100% - 70%);
    background-color: var(--second-color);
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar__lists {
    width: 100%;
}

.sidebar__list {
    font-size: 0.9rem;
    list-style-type: none;
    width: calc(100% - 10%);
    border-radius: var(--border-radius);
    cursor: pointer;

    margin: 0 auto;
    margin-bottom: 0.3rem;
    padding: 0.3rem 0.6rem;

    transition: all 250ms ease-in-out;
}

.sidebar__list:hover {
    background-color: var(--third-color);
}

.sidebar__form {
    width: calc(100% - 10%);
    position: relative;
}

.sidebar__input {
    width: 100%;
}

.active-list {
    font-weight: 400;
    background-color: var(--third-color);
}

/* =========================== */
/* =========================== */
/* || tasklist */
.tasklist {
    padding: 1.2rem 2rem;
    width: calc(100% - 30%);
}

/* tasklist__header */
.tasklist__header {
    /* border: 2px solid pink; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.tasklist__title {
    font-size: 1.5rem;
}

.tasklist__counter {
    font-size: 0.9rem;
    margin-left: auto;
    padding-right: 1rem;
}



/* btn__tasklist */
.btn__tasklist {
    background-color: var(--first-color);
    border: none;
    border-radius: var(--border-radius);
    padding: 0.2rem;
    transition: all 200ms ease-in-out;
}

.btn__tasklist:hover {
    background-color: var(--second-color);
}

/* ======================== */
/* tasklist__tasks */

.task {
    font-size: 0.9rem;
    border-bottom: 1px solid #454545c8;
    position: relative;
}

.task label {
    display: flex;
    align-items: center;
    padding: 0.6rem 0;
}

/* =========================== */
/* Strikethrough effect */
.task label::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #454545c8;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 100ms ease-in-out;
}

[type="checkbox"]:checked+label::after {
    transform: scaleX(1);
    transform-origin: left;
}

[type="checkbox"]:checked+label {
    opacity: 0.5;
}

[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

/* =========================== */

.custom-checkbox {
    display: inline-block;
    width: .75em;
    height: .75em;
    margin-right: 0.4em;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 50%;

    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

.task:hover .custom-checkbox {
    transform: scale(1.3);
    color: var(--first-color);
}

/* tasklist__footer */
.tasklist__footer {
    padding-top: 1rem;
}

.tasklist__form {
    position: relative;
    padding-bottom: 0.5rem;
}

.tasklist__input {
    width: 100%;
}

.btn-delete {
    background-color: var(--second-color);
    color: #cfcfcf;
    padding: 0.5rem 0.7rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;

    transition: all 200ms ease-in-out;
}

.btn-delete:hover {
    background-color: var(--third-color);
}