/* ASIDE */
.tasks {
    width: calc(100% - 70%);
    height: calc(100% - 2.5rem);
    background-color: var(--second-color);
    padding-top: 1rem;
    border-radius: 0 0 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
}

.tasks__category {
    display: flex;
    align-items: center;
    background-color: var(--second-color);
    width: calc(100% - 10%);
    color: #fff;

    padding: 0.3rem 0.6rem;
    margin-bottom: 0.3rem;
}

.tasks__category:hover,
.tasks__category:focus {
    background-color: var(--third-color);
}


.tasks__category img {
    padding-right: 0.4rem;
}

.tasks__category span {
    font-size: 10px;
    color: #aaaaaa;
    margin-left: auto;
}