.tasklist {
    padding: 1.2rem 2rem;
    width: calc(100% - 30%);
    /* outline: 2px solid green; */
}

/* =============================== */
/* =============================== */
/* =============================== */
/* header */
.tasklist__header {
    /* outline: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.task-count {
    font-weight: 200;
    font-size: 0.8rem;
    margin-left: auto;
    padding-right: 1rem;
}

.tasklist__header button {
    background-color: var(--first-color);
    transition: all 200ms ease-in-out;
}

.tasklist__header button:hover {
    background-color: var(--second-color);
}

.tasklist__header h2 {
    font-weight: 200;
}

.tasklist__header--buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
}

/* =============================== */
/* =============================== */
/* =============================== */
/* body */
/* we put relative here so we can use the strikethrough effect on the .task label::after */
.task {
    border-bottom: 1px solid #454545c8;
    position: relative;
}

.task label {
    display: flex;
    align-items: center;
    padding: 0.6rem 0;
}

.task label::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #454545c8;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 100ms ease-in-out;
}

label {
    font-size: 0.9rem;
    font-weight: 200;
}

.custom-checkbox {
    --size: .75em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    margin-right: 0.4em;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 50%;

    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus+label .custom-checkbox {
    transform: scale(1.3);
    color: var(--first-color);
}

[type="checkbox"]:checked+label .custom-checkbox {
    background: var(--fourth-color);
    border-color: #fff;
    /* box-shadow: inset 0 0 0px 2px white; */
}

[type="checkbox"]:checked+label {
    opacity: 0.5;
}

[type="checkbox"]:checked+label::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* the checkbox is actually there, we just cant see it, that's why we can use this [type='checkbox'] above */
[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

/* =============================== */
/* =============================== */
/* =============================== */
/* footer */

/* remove whitespace between buttons */
.tasklist__footer {
    font-size: 0px;
    padding-top: 1rem;
}

.tasklist form {
    display: flex;
    padding: 1rem 0;
}

.tasklist__input {
    background-color: var(--third-color);
    color: white;
    width: 100%;
    font-weight: 100;
    border: none;
    border-radius: var(--border-radius);
    padding: 0.4rem 0.6rem;
    outline: none;
}

.tasklist__footer .delete {
    font-weight: 100;
    font-size: 0.9rem;
    /* padding: 0.3rem 0.5rem; */
}

.tasklist__footer .delete:last-child {
    margin-left: 0.5rem;
}

/* tasklist */
.btn-tasklist {
    background-color: var(--third-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    padding: 0.4rem;
    cursor: pointer;
}

/* delete */
.btn-delete {
    background-color: var(--third-color);
    color: white;
    padding: 0.4rem 0.6rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.btn-delete:hover {
    opacity: 0.8;
}