@use "../abstracts/" as *;

// Visibility
.hide-for-mobile {

  // hide for tablet and mobile
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {

  // hide for desktop
  @include breakpoint-up(large) {
    display: none;
  }
}