@use "../abstracts" as *;

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: rem(16);
  font-weight: 300;
  line-height: 1.6;
  min-height: 100dvh;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

img,
svg {
  display: block;
  max-width: 100%;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

h1 {
  font-size: clamp(2rem, 0.5rem + 5vw, 5rem);
  // font-size: $fs-head-h1;
  // font-family: $ff-season;
}

h2 {
  // font-size: $fs-head-h2;
  // font-family: $ff-season;
}

h3 {
  // font-size: $fs-head-h3;
  // font-family: $ff-season;
}

h4 {
  font-size: 0.9rem;
  // font-family: $ff-poppins;
}