@use "../abstracts" as *;

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 100%;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    user-select: none;
}

/* Set core body defaults */
body {
    height: 100dvh;
    color: var(--general-white);
    background-color: var(--dark-clr-1);
}

/* Make images easier to work with */
img,
picture {
    width: auto;
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}
