@keyframes fade-in {
    from {
        visibility: hidden;
        transform: translateX(-300px);
    }

    1% {
        visibility: visible;
    }

    to {
        transform: translateX(0px);
        display: inline-block;
    }
}

.fade-in {
    animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
    from {
        visibility: visible;
        transform: translateX(0px);
    }

    99% {
        visibility: hidden;
        transform: translateX(-300px);
    }

    to {
        visibility: hidden;
        display: none;
    }
}

.fade-out {
    animation: fade-out 300ms ease-in-out forwards;
}
