// Main Colors
$main-50: #fefbec;
$main-100: #fcf3c9;
$main-200: #f9e68e;
$main-300: #f5d454;
$main-400: #f3c02c;
$main-500: #e29a12;
$main-600: #d17b0e;
$main-700: #ae580f;
$main-800: #8d4413;
$main-900: #743813;
$main-950: #431d05;

// white Colors
$white-50: #ffffff;
$white-100: #efefef;
$white-200: #dcdcdc;
$white-300: #bdbdbd;
$white-400: #989898;
$white-500: #7c7c7c;
$white-600: #656565;
$white-700: #525252;
$white-800: #464646;
$white-900: #3d3d3d;
$white-950: #292929;
$white-990: #161616;

$main-first-clr: hsla(0, 0%, 12%, 1);
$main-second-clr: hsla(0, 0%, 16%, 1);
$main-third-clr: hsla(0, 0%, 20%, 1);
$main-fourth-clr: hsla(0, 0%, 27%, 1);

$primary-list-first: hsla(216, 100%, 58%, 1);
$primary-list-second: hsla(136, 67%, 33%, 1);
$primary-list-third: hsla(264, 100%, 72%, 1);

$priority-first: hsla(4, 62%, 53%, 1);
$priority-second: hsla(34, 94%, 47%, 1);
$priority-third: hsla(216, 75%, 51%, 1);

$main-first: #1E1E1E;
$main-second: #282828;
$main-third: #333333;

$shade-first: #444444;
$shade-second: #666666;