// Main Colors
$main-50: #fefbec;
$main-100: #fcf3c9;
$main-200: #f9e68e;
$main-300: #f5d454;
$main-400: #f3c02c;
$main-500: #e29a12;
$main-600: #d17b0e;
$main-700: #ae580f;
$main-800: #8d4413;
$main-900: #743813;
$main-950: #431d05;

// Basic Colors
$basic-50: #ffffff;
$basic-100: #efefef;
$basic-200: #dcdcdc;
$basic-300: #bdbdbd;
$basic-400: #989898;
$basic-500: #7c7c7c;
$basic-600: #656565;
$basic-700: #525252;
$basic-800: #464646;
$basic-900: #3d3d3d;
$basic-950: #292929;
$basic-990: #161616;