:root {
    --general-white: #ffffff;
    --general-black: #000000;

    --dark-clr-1: #1c1c1c;
    --dark-clr-2: #202020;
    --dark-clr-3: #232323;
    --dark-clr-4: #292929;
    --dark-clr-5: #484848;

    --light-clr-1: #f6f6f6;
    --light-clr-2: #f0f0f0;
    --light-clr-3: #e7e7e7;
}
