@use 'functions' as *;
@use 'mixins' as *;

/* =================================== */
/* 🔖 Take example from this and update your variables */
/* =================================== */
:root {
  --section-small: 8rem;
  --section-medium: 16rem;
  --section-big: 24rem;

  @include below(1200px) {
    --section-small: 6.4rem;
    --section-medium: 12rem;
    --section-big: 16rem;
  }

  @include below(750px) {
    --section-small: 4rem;
    --section-medium: 8rem;
    --section-big: 12rem;
  }
}

$font-sizes: (
  "small": ("900": 2.625rem,
    "800": 2.25rem,
    "700": 1.5rem,
    "600": 1.125rem,
    "500": 1rem,
    "400": 0.875rem,
    "300": 2.625rem,
    "200": 2.625rem,
  ),
  "large": ("900": 3.5rem,
    "800": 2.625rem,
  ),
);

// 1.0 Font Family
$ff-season: "the-seasons", sans-serif;
$ff-poppins: "Poppins", sans-serif;

// 2.0 Font Sizes
// - Headings
$fs-heading-h1: rem(54);
$fs-heading-h2: rem(45);
$fs-heading-h3: rem(32);

// - Body
$fs-body-xsmall: rem(12);
$fs-body-small: rem(15);
$fs-body-medium: rem(18);
$fs-body-large: rem(22);
$fs-body-xlarge: rem(26);

// 3.0 Font Weight
$fw-small: 200;
$fw-medium: 500;
$fw-large: 700;