@use "functions" as *;

/* =================================== */
/* 🔖 Font Family & Sizes (Golden Ratio - Base 16) */
/* =================================== */
$ff-season: "the-seasons", sans-serif;
$ff-poppins: "Poppins", sans-serif;
$ff-outfit: "Outfit", sans-serif;

// Heading
$fs-heading-h1: rem(80);
$fs-heading-h2: rem(61);
$fs-heading-h3: rem(47);
$fs-heading-h4: rem(36);

// Body
$fs-body-xlarge: rem(27);
$fs-body-large: rem(21);
$fs-body-medium: rem(16);
$fs-body-small: rem(12);
$fs-body-xsmall: rem(9);

// Weight
$fw-100: 100;
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;

// Layout
$border-radius: 0.15rem;

/* =================================== */
/* 🔖 Take example from this and update your variables */
/* =================================== */
:root {
  --section-small: 8rem;
  --section-medium: 16rem;
  --section-big: 24rem;

  @media (width <=1200px) {
    --section-small: 6.4rem;
    --section-medium: 12rem;
    --section-big: 16rem;
  }

  @media (width <=750px) {
    --section-small: 4rem;
    --section-medium: 8rem;
    --section-big: 12rem;
  }
}
