@use "../abstracts/" as *;

// Visibility
.hide-for-mobile {

  // hide for tablet and mobile
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {

  // hide for desktop
  @include breakpoint-up(large) {
    display: none;
  }
}

.noscroll {
  overflow: hidden;
  // This fixes the firefox issue with the scrollbar when hidden, because firefox handles calc functions differently from other browsers and it has a wider scrollbar
  // margin-right: calc(100vw - 100% + 15px);
}