@use '../abstracts/' as a;

.wrapper {
  // This will grow to 1110px in desktop size, and on mobile size it will remove 32px from both sides, giving it a natural padding
  width: min(a.rem(1110), calc(100% - a.rem(32)));
  margin-inline: auto;
}

// .container {
//   --padding: #{$container-min-margin-inline} * 2;
//   --max-width: #{$container-max-width};
//   width: min(100% - var(--padding), var(--max-width));
//   margin-inline: auto;
// }

// .container[data-type="narrow"] {
//   --max-width: #{$container-max-width-narrow};
// }

// .container[data-type="wide"] {
//   --max-width: #{$container-max-width-wide};
// }

// .container[data-type="full-bleed"] {
//   --max-width: 100%;
// }