@use '../abstracts' as a;

.aside {
    width: 350px;
    height: 100%;
    background-color: a.$main-second;
    padding-top: 1rem;
    overflow-y: scroll;
    transition: transform 150ms ease-in-out;

    &__permanents {
        width: 90%;
        margin-inline: auto;


    }

    hr {
        width: 90%;
        border: 1px solid a.$shade-first;
        margin-top: 0.6rem;
        margin-bottom: 0.8rem;
        margin-inline: auto;
    }

    &__customs {
        width: 90%;
        margin-inline: auto;

        .aside__div {
            display: flex;
            align-items: center;

            .edit-button {
                padding: 0 0.2rem;
                opacity: 0;
                cursor: pointer;
                transition: opacity 200ms ease-in-out;
            }

            &:hover .edit-button {
                opacity: 1;
            }

            .save-button {
                display: none;
                padding: 0 0.2rem;
                opacity: 0;
                cursor: pointer;
                transition: opacity 200ms ease-in-out;
            }

            &:hover .save-button {
                opacity: 1;
            }
        }

        &:hover {
            background-color: a.$main-third;
        }
    }

    &__input {
        // @include a.color-scheme(yellow, brown);

        display: inline-block;
        color: white;
        background-color: a.$main-second;
        outline: none;
        border: none;
        border-radius: a.$border-radius;

        margin-bottom: 0.3rem;
        padding: 0.3rem 0 0.3rem 0.8rem;
        transition: all 250ms ease-in-out;
        cursor: pointer;
        width: 100%;

        /* Prevents text from going to a new line */
        // white-space: nowrap;

        /* Hides the text that is going outside the container */
        // overflow: hidden;

        /* Add ... to the end of the longer text */
        // text-overflow: ellipsis;

        &:hover {
            background-color: a.$main-third;
        }
    }

    &__form {
        @include a.form;
        background-color: a.$main-second;
        outline-offset: -2px;
        outline: 2px solid a.$shade-first;

        width: 90%;
        margin-inline: auto;
        margin-block: 0.5rem;


        &-input {
            @include a.form-input;
            background-color: inherit;
        }

        img {
            cursor: pointer;
            transform: scale(1);
            transition: all 200ms ease-in-out;

            &:hover {
                opacity: 0.8;
                transform: scale(1.4);
                transform: rotate(45deg);
            }
        }
    }
}

.active-list {
    font-weight: 400;
    background-color: a.$main-third;
}