@use '../abstracts' as a;

.aside {
    width: 20rem;
    height: 100%;
    background-color: a.$main-second;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;

    transition: transform 150ms ease-in-out;
}

.aside__lists {
    width: 100%;
}

.aside__list {
    font-size: 0.9rem;
    list-style-type: none;
    width: calc(100% - 10%);
    border-radius: a.$border-radius;

    margin: 0 auto;
    margin-bottom: 0.3rem;
    padding: 0.3rem 0.6rem;
    transition: all 250ms ease-in-out;
    cursor: pointer;

    /* Prevents text from going to a new line */
    white-space: nowrap;

    /* Hides the text that is going outside the container */
    overflow: hidden;

    /* Add ... to the end of the longer text */
    text-overflow: ellipsis;
}

.aside__list:hover {
    background-color: a.$main-third;
}

.aside__form {
    width: calc(100% - 10%);
    justify-content: space-between;
    margin-bottom: 1rem;
}

.active-list {
    font-weight: 400;
    background-color: a.$main-third;
}