@use '../abstracts' as a;

.nav {
    height: 2.5rem;
    padding: 0 1.25rem;
    background-color: a.$main-third-clr;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // NAV LEFT
    .nav__left {
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }

    // NAV RIGHT
    .nav__right {
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }
}