$main-first-clr: hsla(0, 0%, 12%, 1);
$main-second-clr: hsla(0, 0%, 16%, 1);
$main-third-clr: hsla(0, 0%, 20%, 1);
$main-fourth-clr: hsla(0, 0%, 27%, 1);

$primary-list-first: hsla(216, 100%, 58%, 1);
$primary-list-second: hsla(136, 67%, 33%, 1);
$primary-list-third: hsla(264, 100%, 72%, 1);

$priority-first: hsla(4, 62%, 53%, 1);
$priority-second: hsla(34, 94%, 47%, 1);
$priority-third: hsla(216, 75%, 51%, 1);

$main-first: #1E1E1E;
$main-second: #282828;
$main-third: #333333;

$shade-first: #444444;
$shade-second: #666666;