@use 'variables' as v;

@mixin circleNav {
    cursor: pointer;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

@mixin color-scheme($text, $bg) {
    background-color: $bg;
    color: $text;
}