// Font
$font-small: 0.75rem; // 12px
$font-medium: 0.875rem; // 14px
$font-base: 1rem; // 16px
$font-large: 1.75rem; // 28px

$font-family: 'Outfit', sans-serif;

$fw-100: 200;
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-600: 600;

// Layout
$border-radius: 0.15rem;