// Font
$font-base: 0.875rem;
$font-small: 0.625rem;
$font-medium: 0.75rem;
$font-large: 1.5rem;

$font-family: 'Outfit', sans-serif;

$fw-300: 300;
$fw-400: 400;
$fw-600: 600;

// Layout
$border-radius: 0.2rem;