    $main-first: #1E1E1E;
    $main-second: #282828;
    $main-third: #333333;

    $shade-first: #444444;
    $shade-second: #666666;

    $border-radius: 0.2rem;

    $inbox-list: hsl(216, 100%, 58%);
    $today-list: hsl(136, 67%, 33%);
    $upcoming-list: hsl(264, 100%, 72%);